
<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-25 col-xl-20">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-image: url(<%= image_path 'green_banner.webp'%>)" >
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                <% if @user.photo.attached? %>
                <%= cl_image_tag @user.photo.key, style:"width: 150px; z-index: 1" %>
                <% else %>
                <%= image_tag "blankprofile.png",style:"width: 150px; z-index: 1"%>
                <% end %>
                <% if @user == current_user %>
              <%= link_to "Edit profile", edit_user_registration_path,
                class:"btn btn-primary"%>
                <% end %>
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h4><%= @user.first_name %> <%= @user.last_name %></h4>
            </div>
          </div>
          <div class="p-4 text-black">
            <div class="d-flex justify-content-between text-center py-1">
              <div>
               <h4>My Stories</h4>
                  <% @user_stories.each do |story| %>
                  <%= link_to story.title, story_path(story)  %>
                  <% end %>
              </div>
              <div class="px-3">
                      <h4> My Collaborations </h4>
                      <% @user_collabs.each do |collab| %>
                      <p><%= link_to collab.story.title, story_path(collab.story)  %></p>

                    <% end %>
              </div>
            </div>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
