
<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<div class="container">
  <h2>My Stories</h2>
  <% @user_stories.each do |story| %>
  <%= link_to story.title, story_path(story)  %>
  <% end %>
</div>
<div class="container">
    <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, height: 400, width: 400, crop: :fill, style:"border-radius: 50%;" %>
    <% else %>
    <%= image_tag "blankprofile.png",style:"border-radius: 50%; height: 400px; width:400px" %>
    <% end %>
</div>
    <%= link_to "Edit profile", edit_user_registration_path  %>


    <div class="container" >
      <h1> My Collaborations </h1>
      <% @user_collabs.each do |collab| %>
      <p><%= link_to collab.story.title, story_path(collab.story)  %></p>
    </div>
 <% end %>
