<div class="home-banner">
    <h1>Welcom to CoWrite</h1>
</div>
<div class="container">
  <div class="page-content">
    <div class="top-stories">
      <p><a href="<%= stories_path %>">Stories index</a></p>
      <h4>Top stories</h4>
      <div class="cards">
        <% @stories.each do |story| %>
          <a href="<%= story_path(story.id)%>" class="story-card">
            <h3><%= story.title %></h3>
            <p><%= story.synopsis %></p>
          </a>
        <% end %>
      </div>
    </div>
    <div class="home-actions">
      <a href="<%= new_story_path %>" >
        <h3>Create a new story !</h3>
      </a>
      <a href="<%= categories_path %>" >
        <h3>All categories</h3>
      </a>
    </div>
  </div>
</div>
