<div class="banner" style="banner_notepad.PNG">
  <div class="banner-text">
    <h1>Welcome to  <strong>Co-Write</strong></h1>
      <h5>The home of creative<h5>
        <h5>writing collaborations<h5>
             <!-- Element to contain animated typing -->
      <span id="element"></span>

      <!-- Load library from the CDN -->
      <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

      <!-- Setup and start animation! -->
      <script class="typewriter">
        var typed = new Typed('#element', {
         class: "typo", strings:  ['Pick a story', 'Have a read', 'Write a chapter', 'Collaborate with others', 'Find your inspiration'],
          typeSpeed: 60,
          loop: true,

        });
      </script>

  </div>
</div>

  <div class="search-wrapper">
        <%= form_with url: stories_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Discover a story..."
          %>
        <%= submit_tag "Search", name: "", class: "btn-search" %>
  <% end %>
  </div>
<div class="home-container">
  <div class="home-page-content">
    <div class="top-stories">
      <h4>Top stories</h4>
      <div class="stories-cards">
        <% @stories.each do |story| %>
          <a href="<%= story_path(story.id)%>" class="story-card-hp">
            <%= cl_image_tag story.photos.first.key, class:"image-card-hp" %>
            <div class="story-info-hp">
              <h3><%= story.title %></h3>
              <p><%= story.synopsis %></p>
            </div>
          </a>
        <% end %>
      <p><a href="<%= stories_path %>"class="create-button">Find inspiration </a></p>
      </div>
    </div>
    <div class="genres-wis">
      <h3><a href="<%= new_story_path %>" class="create-button" >
        Add a new story!
      </a></h3>
      <div class="categories-card-hp" >
        <a href="<%= categories_path %>" class="pb-2 genres-txt"><h3>Genres</h3></a>
        <div class="categories-cards-hp">
          <% @categories.each do |category| %>
            <a href="<%= category_path(category.id) %>" class="category-card-hp" >
              <%= category.genre  %>
            </a>
          <% end %>
        </div>
      </div>
      <div class="wic">
        <h3>What is CoWrite</h3>
        <p>CoWrite allows you to create, edit, like, and collaborate onto stories of your choosing, to help inspire and hopefully cure your writer’s block, getting your creative juices flowing.</p>
      </div>
    </div>
  </div>
</div>
