<div class="home-banner">
    <h1>Welcome to CoWrite</h1>
</div>
<div class="container">
  <div class="page-content">
    <div class="top-stories">
      <h4>Top stories</h4>
      <div class="cards">
        <% @stories.each do |story| %>
          <a href="<%= story_path(story.id)%>" class="story-card">
            <h3><%= story.title %></h3>
            <p><%= story.synopsis %></p>
          </a>
        <% end %>
      <p><a href="<%= stories_path %>">See all stories</a></p>
      </div>
    </div>
    <div class="home-actions">
      <a href="#" class="profile-card" >
        <h3>Profile here</h3>
      </a>
      <a href="<%= categories_path %>" class="categories-card" >
        <h3>All categories</h3>
        <p>Here would be the category card</p>
      </a>
      <a href="<%= new_story_path %>" >
        <h3>Create a new story !</h3>
      </a>
    </div>
  </div>
</div>
