<% @story.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, radius: 5 %>
<% end %>
<h1><strong>Title : </strong> <%= @story.title %></h1>
<h6><strong>Genre : </strong><%= @story.genre %></h6>
<h6><strong>Synopsis : </strong> <%= @story.synopsis %></h6>
<p><%= @story.content %></p>
<p><%= @story.rich_content %></p>

<% @story.collabs.each do |collab| %>
 <h5> By: <%= link_to "#{collab.user.first_name} #{collab.user.last_name}" , profile_path(collab.user)  %></h5>
  <li class="list-group-item"><%= collab.rich_content %>
  </li>
<% end %>

<p><%= link_to "Continue this Story", new_story_collab_path(@story) %></p>

<%= link_to "Delete",
  story_path(@story),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<p><a href="<%= stories_path %>">Stories index</a></p>
<p><%= link_to "Add a Review", new_story_review_path(@story) %></p>
<ul class="list-group">
  <% @story.reviews.each do |review| %>
    <li class="list-group-item"><%= review.comment %> By: <%= review.user.first_name%> <%= review.user.last_name%></li>
  <% end %>
</ul>
<br>
