<h1><%= @story.title %></h1>
<h4><%= @story.genre %></h4>
<h6><%= @story.synopsis %></h6>
<p><%= @story.content %></p>

<p><a href="<%= stories_path %>">Continue this story</a></p>
<p><a href="<%= stories_path %>">Stories index</a></p>
