<div class="ssc">
  <div class="ssc-content">
    <div class="story-info-sp">
      <h6>Genre : <%= @story.genre %></h6>
      <h6><%= @story.get_upvotes.size   %> Likes</h6>
      <h6><%= @story.get_downvotes.size %> Dislikes</h6>
    </div>
    <h1><strong><%= @story.title %></strong></h1>
    <h6><%= @story.synopsis %></h6>
    <% @story.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, radius: 5 %>
    <% end %>
    <h6><strong> Started by: </strong><%= link_to "#{@story.user.first_name} #{@story.user.last_name}" , profile_path(@story.user)  %></h6>

    <div class="likes-un">
      <%= button_to like_story_path(@story), method: :put do %>
      <i class="fa fa-thumbs-up" style="font-size20px;color:green"></i>
        <%= @story.get_upvotes.size %>
      <% end %>

      <%= button_to unlike_story_path(@story), method: :put do %>
        <i class="fa fa-thumbs-down" style="font-size20px;color:green"></i>
        <%= @story.get_downvotes.size %>
      <% end %>
    </div>

    <p><%= @story.content %></p>
    <p><%= @story.rich_content %></p>

    <% @story.collabs.each do |collab| %>
    <h5> By: <%= link_to "#{collab.user.first_name} #{collab.user.last_name}" , profile_path(collab.user)  %></h5>
      <li class="list-group-item"><%= collab.rich_content %>
      </li>
      <% end %>
    <div data-controller ="toggle">
      <button class="btn btn-primary mt-4" data-action="click-> toggle#fire">Continue this Story</button>

       <div class="mt-3 d-none"data-toggle-target="toggleableElement">
            <%= simple_form_for [@story,@collab] do |f| %>
            <%= f.rich_text_area :rich_content,  wrapper_html:{class: "test"}%>
            <%= f.submit "Add a Collab", class: "btn btn-primary"%>
              <% end %>
        </div>
   </div>

  <div class="form-container" data-controller ="toggle">
      <button class="btn btn-primary mt-4" data-action="click-> toggle#fire">Add a Review</button>
     <div class="mt-3 d-none"data-toggle-target="toggleableElement">
          <%= simple_form_for [@story, @review] do |f| %>
            <%= f.input :comment, input_html:{class: "test"}, label_html: {class:"label"}%>
            <%= f.submit "Submit review", class: "btn btn-primary" %>
           <% end %>
      </div>
  </div>

  <div class="review">
    <ul class="list-group">
      <% @story.reviews.each do |review| %>
      <h5> By: <%= link_to "#{review.user.first_name} #{review.user.last_name}" , profile_path(review.user)  %></h5>
        <li class="list-group-item"><%= review.comment %> </li>
      <% end %>
    </ul>
  </div>






   <% if @story.user == current_user %>
    <%= link_to "Delete",
      story_path(@story),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
   <% end %>
    <p><a class="btn btn-primary" href="<%= stories_path %>">Stories index</a></p>
    <br>
  </div>
</div>
