<h1><%= @category.genre %></h1>

<div class="stories-idx-cat">
  <% @stories.each do |story| %>
    <a href="<%= story_path(story.id)%>" class="story-card-idx">
      <%= cl_image_tag story.photos.first.key, class:"image-card-hp" %>
      <div class="story-info-idx">
        <h3 class="story-title-hp"><%= story.title %></h3>
        <p><%= story.synopsis %></p>
      </div>
    </a>
  <% end %>
</div>
